<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>TJY Blog 后台管理</title>
  <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
  <link href="~/Content/css/admin.home.index.css" rel="stylesheet" />
</head>

<body>
  <div class="header">
    <div class="logo">
      <img src="~/Content/images/kabishou.png" />
      <span>TJY BLOG后台</span>
      <a href="/Home/Index" style="color:aqua;text-align: center">TJY Blog</a>
    </div>
    <ul class="layui-nav">
      <li class="layui-nav-item"><a href="/Home/Index"><i class="layui-icon">&#xe650;</i> 去博客</a></li>
      <li class="layui-nav-item"><a href="/Admin/Account/Logout"><i class="layui-icon">&#x1006;</i> 退出</a></li>
    </ul>
  </div>
  <!--sidemenu start-->
  <div>
    <ul class="layui-nav layui-nav-tree layui-nav-side side">
      <li class="layui-nav-item"><a onclick="AddTab('我的信息', '/Admin/Account/Index')">我的信息</a></li>
      <li class="layui-nav-item"><a onclick="AddTab('写博客', '/Admin/Article/Write')">写博客</a></li>
      <li class="layui-nav-item"><a onclick="AddTab('文章管理','/Admin/Article/Index')">文章管理</a></li>
      <li class="layui-nav-item"><a onclick="AddTab('分类管理', '/Admin/Category/Index')">分类管理</a></li>
      <li class="layui-nav-item"><a onclick="AddTab('评论管理', '/Admin/Comment/Index')">评论管理</a></li>
    </ul>
  </div>
  <!--sidemenu end-->
  <!--main start-->
  <div class="main">
    <div class="layui-tab layui-tab-card" lay-allowclose="true" lay-filter="mainTab">
      <ul class="layui-tab-title layui-bg-gray"></ul>
      <div class="layui-tab-content"></div>
    </div><!-- layui-tab end -->
  </div><!--main end-->

  <script src="~/Content/layui/lay/dest/layui.all.js"></script>
  <script src="~/Content/js/admin.home.index.js"></script>
</body>
</html>