@*首页-阅读排行*@
@model List<TJY.Blog.Model.Article> 

<ul>
  @{
    foreach (var article in Model)
    {
      <li><a href="/Article/Index/@article.ID">@(article.Title)(@article.ReaderNumber)</a></li>
    }
  }
</ul>