@using TJY.Blog.Model
@{
  List<Category> categoryList = ViewBag.CategoryList;
}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>TJY Blog 写文章</title>
  <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
  <link href="~/Content/css/admin.article.write.css" rel="stylesheet" />
</head>

<body>
  <div class="layui-form">
    <div class="side">
      <div class="layui-form-item">
        <label class="layui-form-label">文章分类</label>
        <div class="layui-input-block">
          <select name="category" lay-verify="required">
            <option value="">请选择</option>
            @foreach (Category category in categoryList)
            {
              <option value="@category.ID">@category.Name</option>
            }
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">文章状态</label>
        <div class="layui-input-block">
          <input type="text" name="state" lay-verify="required" autocomplete="off" class="layui-input" disabled value="草稿">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button id="btnSaveDraft" class="layui-btn layui-btn-primary">暂存为草稿</button>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button id="btnSavePublish" class="layui-btn">保存并发布</button>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: left">文章标题</label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input">
        </div>
      </div>
      <textarea id="content" style="display: none;"></textarea>
    </div>
  </div>

  <script src="~/Content/layui/lay/dest/layui.all.js"></script>
  <script src="~/Content/js/admin.article.write.js"></script>
</body>

</html>